.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: none !important;
    object-fit: cover;
}
