<nav class="navbar bg-primary navbar-dark">

    <a  style="color: white;" [routerLink]="['/']">         
      Back
      </a>
    <div class="navbar-brand">
        <h4 style="color: white;" >Man Stores Check Out </h4>
  
    </div> 
  </nav>

  <label *ngIf="dataService.shoppingCart.length === 0" > - Basket is empty -</label>

  <table class="table table-hover" *ngIf="dataService.shoppingCart.length > 0">
      <tr>
        <th>Items</th>
        <th>Product</th>
        <th>Quantity</th>
        <th></th>
        <th>Price</th>
      </tr>
     <tr  *ngFor="let cart of dataService.shoppingCart; let i = index">
         <td>
                 <button class='btn btn-link ' (click)="onDeleteCart(cart)" ng-click="deleteRow($index)">
                        <i class="material-icons text-danger">
                            delete
                            </i>

                    </button> 

         #{{i+1}}</td>
       <td>
          <img class ="mat-list-avatar1" src={{cart.imageUrl}} />   
          {{cart.name}}         
       </td>
       <td>
          {{cart.qty}} qty
       </td>
       <td>
        {{cart.qty}} * {{cart.price | currency:'GBP'}}
       </td>
       <td>
          {{cart.itemtotPrice | currency:'GBP'}}
       </td>
     </tr>

     <tr>
        <th>sub Total</th>
        <td></td><td></td><td></td>
        <th>{{dataService.totalPrice | currency:'GBP'}}</th>
      </tr>

      <tr>
        <td>Shipping Cost</td>
        <td></td><td></td><td></td>
        <td>{{dataService.shippingCost | currency:'GBP'}}</td>



     <tr>
       <td>Discount Applied </td>
       <td></td><td></td><td></td>
       <td>-{{dataService.discAmount | currency:'GBP'}}</td>

     </tr>
     <tr>
        <th>Grand Total</th>
        <td></td><td></td><td></td>
        <th>{{dataService.finalPrice | currency:'GBP'}}</th>
      </tr>
    </table>

    <button *ngIf="dataService.shoppingCart.length > 0" Class="float-right btn btn-primary px"
      (click)="onplaceOrder()">Place the Order</button>