
<nav class="navbar bg-primary navbar-dark">
  <div class="navbar-brand">
    <a [routerLink]="['/']">
      <h4 style="color: white;" >Man Store</h4>
    </a>
  </div>

  <span class="navbar-text p-0">
     <a [routerLink]="['/ShoppingPage']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout
    <br>
   <span id='totalQtyId'>Items: {{dataService.totalQty}} Qty</span>
    <br>
    <span id='totalPriceId'>Total Price : {{dataService.finalPrice | currency:'GBP'}}</span><br>
    <span *ngIf="dataService.isDiscApplied"  class="badge badge-pill badge-info" >Disc Applied</span>
  </a>    
  </span>
</nav>


<nav class="navbar justify-content-end p-0" *ngIf="!dataService.isDiscApplied  &&  !dataService.freeShippingDisc">
      <input class="p-2  my-1 rounded" style="height:30px;" [(ngModel)]="discCode" placeholder="enter Discount Code">
    <button  class="btn btn-outline-info btn-sm my-1 ml-2 mr-3" (click)="onApplyDiscount()">Apply Discount </button>
</nav>

<ul  class="list-group">
  <li *ngFor="let product of products;  let i = index;"
       >  
       <span class="list-group-item row   list-group-item-action">           
          <img class ="mat-list-avatar1" src={{product.imageUrl}} />  
          <h6>{{product.name}} </h6> 
          <span  class="float-left font-weight-lighter" >whole sale Price: {{product.price | currency:'GBP'}}</span> 
          <br>          
          <span  class="float-left font-weight-bold" >Normal Price: {{product.price | currency:'GBP'}}</span>
          <br>
            
              <button [id]="'itemAddButton' + i" type="button bd-highlight" class="btn btn-primary btn-sm float-right"
              (click)="onAddtocart(product)">            
              <i class="material-icons">shopping_cart</i>Add to cart</button>
             
          <span  class="float-left"  >
          <a class="btn btn-outline-secondary btn-sm text-black padding-left" (click)="increment(product)" role="button">
               +
          </a>
          <span  style="padding:2px;">{{product.qty}} Qty </span>
           <a class="btn btn-outline-secondary btn-sm text-black" (click)="decrement(product)" role="button">
              -
          </a>          
        </span>
        <br>
        <br><span class="font-weight-lighter">
            Categories: <span  *ngFor="let cat of product.categories ">{{cat}}  </span>
        </span>        
   </span> 
  </li>
</ul>



